.catalog-toolbar, .catalog-wrapper, .pagination-wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr; // 75% / 25%
  gap: 40px;
}

.catalog-toolbar-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  color: #777;
}

.select-box {
  position: relative;
  width: 180px;
  img {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    pointer-events: none;
  }
  select {
  color: #777;
  }
}

.select-box select {
  width: 100%;
  padding: 10px 35px 10px 12px;
  border: 1px solid #ddd;
  font-size: 14px;
  background: white;
  appearance: none;
  cursor: pointer;
}

.search-box {
  position: relative;
  width: 100%;
}

.search-box input {
  width: 100%;
  padding: 10px 40px 10px 15px;
  border: 1px solid #ddd;
  font-size: 14px;
  color: #777;
}

.search-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  pointer-events: none;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.catalog-sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  h4 {
    margin: 0;
  }
}

.sidebar-item {
  display: flex;
  height: 80px;
  gap: 15px;
}

.sidebar-item img {
  width: 80px;
  height: 100%;
  object-fit: contain;
}

.sidebar-item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-item-title {
  font-size: 14px;
  margin: 0;
}

.sidebar-item-rating {
  font-size: 12px;
  color: gold;
}

.sidebar-item-price {
  font-size: 14px;
}

.pagination {
  display: flex;
  justify-content: space-between;
}