.catalog-toolbar, .catalog-wrapper, .pagination-wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr; // 75% / 25%
  gap: 40px;
}

.catalog-toolbar-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.catalog-sidebar {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.pagination {
  display: flex;
  justify-content: space-between;
}