.catalog-toolbar, .catalog-wrapper, .pagination-wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr; // 75% / 25%
  gap: 40px;
}

.catalog-toolbar-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.catalog-sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  h4 {
    margin: 0;
  }
}

.sidebar-item {
  display: flex;
  height: 80px;
  gap: 15px;
}

.sidebar-item img {
  width: 80px;
  height: 100%;      // ✅ fill full height
  object-fit: contain;
}

.sidebar-item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-item-title {
  font-size: 14px;
  margin: 0;
}

.sidebar-item-rating {
  font-size: 12px;
  color: gold;
}

.sidebar-item-price {
  font-weight: 600;
  font-size: 14px;
}

.pagination {
  display: flex;
  justify-content: space-between;
}