$color-primary: #b92770;
$color-text: #000;
$color-line-border: #e0e0e0;
$width-main-content: 80%;
$strong-shadow: 0 15px 40px rgba(0, 0, 0, 0.15),
    0 30px 80px rgba(0, 0, 0, 0.1);
$soft-shadow: 0 8px 20px rgba(0,0,0,0.12);