<header>
  <div class="header-container">
    <div class="top-bar">
      <div class="social">
        <img src="/src/assets/icons/header/facebook.svg" alt="">
        <img src="/src/assets/icons/header/twitter.svg" alt="">
        <img src="/src/assets/icons/header/instagram.svg" alt="">
      </div>
      <div class="logo-container">
        <a href="/src/index.html">
          <div class="logo">
            <img src="/src/assets/icons/header/suitcase.svg" alt="">
          </div>
        </a>
      </div>
      <div class="icons">
        <img src="/src/assets/icons/header/user.svg" alt="" class="account-icon">
        <img src="/src/assets/icons/header/shopping-cart.svg" alt="">
        </div>
    </div>
    <div class="line-between"></div>
    <div class = "bottom-bar">
      <nav>
        <ul>
          <li><a href="/src/index.html">Home</a></li>
          <li><a href="/src/html/catalog.html">Catalog <img src="/src/assets/icons/header/arrow.svg" alt=""></a></li>
          <li><a href="/src/html/about.html">About Us</a></li>
          <li><a href="/src/html/contact.html">Contact Us</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<div class="modal" id="loginModal">
  <div class="modal-content">
    <form id="loginForm">
      
      <label>Email address *</label>
      <input type="email" id="email" />

      <label>Password *</label>
      <div class="password-wrapper">
        <input type="password" id="password" />
        <span id="togglePassword">👁</span>
      </div>

      <div class="options">
        <label><input type="checkbox" /> Remember me</label>
        <a href="#">Forgot Your Password?</a>
      </div>

      <button type="submit">LOG IN</button>

    </form>
  </div>
</div>